body {
  background-color: #52489C;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

a {
  text-decoration: none;
  color: black;
}

#quote-box {
  background-color: #E0DFD5;
  padding: 20px;
  width: 400px;
  text-align: center; 
  border: 2px solid black;
  border-radius: 3px;
}

#button-box {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

#button-box > * {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

#new-quote {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

#text {
  font-size: 1.75rem;
}

#author {
  text-align: right;
}