body {
  background-color: rgb(105, 95, 170);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

#quote-box {
  background-color: #E0DFD5;
  padding: 20px;
  width: 400px;
  text-align: center; 
  border: 2px solid black;
  border-radius: 3px;
}

#button-box {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  border-radius: 2px;
  padding: 1rem;
  cursor: pointer;
  background-color: rgb(105, 95, 170);
  color: white;
}

.button:hover {
  background-color: midnightblue;
}

#tweet-quote {
  padding: 20px;
}

#twitter-icon {
  width: 1.2rem;
  color: white;
}

#text {
  font-size: 2rem;
  text-align: left;
}

#author {
  text-align: right;
  margin: 5px 0;
}
